<h1>Station Items</h1>

<% @station_items.each do|station_item| %>
	<p><%= station_item.name %></p>
	<p><%= station_item.address %></p>
	<p><%= station_item.latitude %></p>
	<p><%= station_item.longitude %></p>
	<% if(current_user.roles[0].to_s.include?("site_admin"))%>
		<td><%= link_to "Edit", edit_station_path(station_item.id)%></td>
		<td><%= link_to "Delete", station_item, method: :delete, data: { confirm: 'Are you sure?' }%></td>
	<%end%>
	<hr>
<% end %>