<h1> New Station </h1>

<%= form_for(@station_item) do |f| %>
	<div class="field">
	<%=f.label :name%>
	<%= f.text_field :name%>
	</div>

	<div class="field">
	<%=f.label :address%>
	<%= f.text_field :address%>
	</div>

	<div class="field">
	<%=f.label :latitude%>
	<%= f.text_field :latitude, :value => @newLatLong[0]%>
	</div>

	<div class="field">
	<%=f.label :longitude%>
	<%= f.text_field :longitude,:value => @newLatLong[1]%>
	</div>

	<div class="actions">
	<%=f.submit %>
	</div>

<%end %>

<hr>

<%= params.inspect%>