<div class="bg">
	<div class="mx-auto" style="width: 650px;">
		<h1> Νέο Πρατήριο Υγρών Καυσίμων </h1>
	</div><br>

 HEAD
				
	<div class="mx-auto" style="width: 500px;">
		<%= form_for(@station_item) do |f| %>
			<div class="field">
			<%=f.label 'Επωνυμία Πρατηρίου'%>
			<%= f.text_field :name,:required => true, :autocomplete => :off%>
			</div>
			
			<div class="field">
			<%=f.label 'Γεωγραφικό Πλάτος'%>
			<%= f.text_field :latitude, :value => @newLatLong[0],:readonly => true%>
			</div>
 master

			<div class="field">
			<%=f.label 'Γεωγραφικό Μήκος'%>
			<%= f.text_field :longitude,:value => @newLatLong[1],:readonly => true%>
			</div>

			<div class="field">
			<%=f.label 'Γεωγραφική Περιοχή'%>
			<%= f.text_field :area,:value => @area,:readonly => true%>
			</div>

			<div class="field">
			<%=f.label 'Εταιρεία Καυσίμων'%>
			<%= f.text_field :company,:required => true%>
			</div>

			<div class="actions">
			<%=f.submit 'Δημιουργία Εγγραφής'%>
			</div>

	<%end %>
	</div>
</div>