<div class="col-sm-8 " >
	<h1><%= @station_item.name %></h1>

	<p><em>Address:  <%= @station_item.address %></em></p>

	<% unless current_user.is_a? GuestUser %>
			
			<%= link_to '<button class="btn btn-primary mr-5" >Bάλατε Καύσιμα σε αυτόν τον σταθμό;</button>'.html_safe, new_vehicle_path(:my_station => @station_item,:location => @station_item.address)%>
		
	<% end%>
	

	
	<!-- reviews form-->
	<%= render 'reviews/review_form' %>

	<br>
	<div id="above">
 	</div>
 	<div id="reviews" data-station-id="<%= @station_item.id%>">

		<%=render @station_item.reviews.order(created_at: :desc) %>
	</div>

</div>