<div>
	<% if @error_message.length==0 %>
		<%string=params[:q] %>
		<%@array=string.split(',') %>
		<% if @case ==0 %>
			<p> periptwsh <%=@case%> </p>
			<!--#upologizei ta xiliometra oloklhro to xrono!--> 
			<%@titlos="Mέση Κατανάλωση του οχήματος #{@vehicle_list[0]} "%>
			
			<!--<div id="graph" >-->
				<%= render 'pages/x_range_graph' %>
			<!--</div>-->
			<p style="text-align: center;">Συνολική Κατανάλωση για το παραπάνω χρονικό διάστημα: <%=@katanalwsh_xronou%></p>
			<!--<div id="euro_liter_graph" >-->
			<!--</div>-->
			

			<%= render 'pages/show_vehicle' %>
			
			<%#= @lt_per_km_monthly%>
			<%# data=Array.new%>
			<%# mhnes=['Ιανουαριος','Φεβρουαριος','Μαρτιος','Απριλιος','Μαιος','Ιουνιος','Ιουλιος','Αυγουστος','Σεπτεμβριος','Οκτωβριος','Νοεμβριος','Δεκεμβριος']%>
			<%# for i in 0..@lt_per_km_monthly.size-1 %>
				<%#data[i]=[mhnes[i],@lt_per_km_monthly[i]]%>
			<%#end%>
			<%#=  line_chart data ,library: { pieSliceText: 'value' },xtitle: "Μήνες", ytitle: "Συνολική Κατανάλωση lt/km"%>
		<%elsif @case==1%>
			<!--#Ypologizei xiliometra kai litra gia sugkekrimeno mhna !-->
			<%@titlos="Κατανάλωση του οχήματος για το μήνα #{@array[0]}"%>
			<p> periptwsh <%=@case%> </p>
			<div id="graph" >
				<%= render 'pages/x_range_graph' %>
			</div>
			<p style="text-align: center;">Συνολική Κατανάλωση για όλο το μήνα: <%=@katanalwsh_mhna%>	</p>

			<%= render 'pages/show_vehicle' %>
			
		<%elsif @case==2%>
			<p> periptwsh <%=@case%> </p>
			<!--#katanalwsh gia pollapla oxhmata tou prathriou pou exei balei o xrhsths kausima!--> 
			
			<%@titlos="Κατανάλωση πολλαπλών οχημάτων στο σταθμό #{@array[2]}"%>

			<p style="text-align: center;"><%=@titlos%></p>
			
				
				<%= render 'pages/case2' %>
			

			<% for i in 0..@oxhmata_list.size-1 %>
				<p style="text-align: center;">Συνολική Κατανάλωση οχήματος <%=@oxhmata_list[i]%>  για το παραπάνω χρονικό διάστημα: <%=@lt_per_km_monthly[i]%> </p>

			<%end%>
			<%= render 'pages/show_vehicle' %>
			<%#= @oxhmata_list%>
			<%#= @lt_per_km_monthly%>
			<%# data=Array.new%>
			<%# for i in 0..@oxhmata_list.size-1 %>
				<%#data[i]=[@oxhmata_list[i],@lt_per_km_monthly[i]]%>
			<%#end%>
			<%#=  line_chart data ,library: { pieSliceText: 'value' },xtitle: "Οχήματα", ytitle: "Συνολική Κατανάλωση lt/km"%>

		<%elsif @case==3%>
			<p> periptwsh <%=@case%> </p>
			<!--#alliws upologizei me bash to prathrio gia sugkekrimeno oxhma kai TYPO KAYSIMOY gia diaforetikous xrhstes!-->
			<%@titlos="Κατανάλωση χρηστών στο σταθμό #{@array[2]} για το όχημα #{@array[1]}"%>
			<p style="text-align: center;"><%=@titlos%></p>
			<!--<div id="graph" >-->	
				<%= render 'pages/case2' %>
			<!--</div>-->

			
			<% for i in 0..@user_list.size-1 %>
				<p style="text-align: center;">Συνολική Κατανάλωση του χρήστη <%=@user_list[i]%> για το παραπάνω χρονικό διάστημα: <%=@lt_per_km_monthly[i].round(2)%></p>
			<%end%>
			<%= render 'pages/show_vehicle' %>
			<%#= @lt_per_km_monthly%>
			<%#= @user_list%>
			<%# data=Array.new%>
			<%# for i in 0..@user_list.size-1 %>
				<%#data[i]=[@user_list[i],@lt_per_km_monthly[i]]%>
			<%#end%>
			<%#=  column_chart data ,library: { pieSliceText: 'value' },xtitle: "User_id", ytitle: "Συνολική Κατανάλωση lt/km"%>

		<%elsif @case==4%>
			<p> periptwsh <%=@case%> </p>
			<!--# upologizw kai gia ton sugkekrimeno xrhsth sto sugkekrimeno prathrio to sugkekrimeno mhna!-->
			<%@titlos="Κατανάλωση του οχήματος #{@array[1]} για το μήνα #{@array[0]} στο πρατήριο #{@array[2]}"%>
			<div id="graph" >
				<%= render 'pages/x_range_graph' %>
			</div>
			<p style="text-align: center;">Συνολική κατανάλωση οχήματος για το μήνα <%=@array[0]%> στο σταθμό <%=@array[2]%>: <%=@katanalwsh_mhna%> </p>
			<%= render 'pages/show_vehicle' %>
		<%end%>

	<% else %>
		<p style="color: red;"><%=@error_message%> </p>
	<%end%>
</div>
