<div class="review-card">
  <div class="card">
    <div class="card-block">
      <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-10">
          <div>
            <%= review.content %>
          </div>

          <div class="review-attribution">
            Review posted by <span class="review-name"><%= review.user.first_name %></span> <%= distance_of_time_in_words(review.created_at, Time.now) %> ago
          </div>
          <div class="review-links">
            <!-- EXEI PROBLHMA TO ACTIONCABLE ME TO AUTHENTICATION KAI TO RENDERING-->
            <% if(@flag==review.user_id)%>
              <%= link_to 'Delete', [review.station, review],
                  method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
              <%= link_to 'Edit',  edit_station_review_path(review.station,review.id)%>
            <%end%>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>